.button {
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  font-weight: var(--fw-medium);
  color: var(--c-white);
  background-color: var(--c-primary);
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button--primary {
  --button-color: var(--c-primary);
  background-color: var(--button-color);
}

.button--secondary {
  --button-color: var(--c-secondary);
  background-color: var(--button-color);
}

.button--border {
  background-color: transparent;
  border: 0.1rem solid var(--button-color);
  border-radius: 1.1rem;
  color: var(--button-color);
}